<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aws-context="http://www.springframework.org/schema/cloud/aws/context"
	xmlns:aws-messaging="http://www.springframework.org/schema/cloud/aws/messaging"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/cloud/aws/context http://www.springframework.org/schema/cloud/aws/context/spring-cloud-aws-context-1.0.xsd
		http://www.springframework.org/schema/cloud/aws/messaging http://www.springframework.org/schema/cloud/aws/messaging/spring-cloud-aws-messaging-1.0.xsd">

<!--   <aws-context:context-region auto-detect="true" /> -->
  <aws-context:context-region region="eu-west-1"/>
  
	<aws-context:context-credentials>
		<aws-context:instance-profile-credentials />
		<aws-context:simple-credentials access-key="${aws.accessKey}" secret-key="${aws.secretKey}"/>
	</aws-context:context-credentials>
	
	<aws-context:context-instance-data user-tags-map="instanceData" />
	
	<aws-messaging:annotation-driven-queue-listener delete-message-on-exception="false"/>
			
	<aws-messaging:queue-messaging-template id="queueMessagingTemplate" />
	
</beans>
